/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
  }
  
  a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color:#ccc;
  }

/* Setting full height for the HTML and body */
html, body {
    height: 100%; /* Make sure the body and HTML fill the full height of the viewport */
}

body {
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
    /* Background image covering the full viewport */
 /* Background  */
  background-image: url('images/shopping-cart-with-wooden-elements.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
    /* Remove padding to allow the background to touch the footer */
    padding-top: 110px; /* Added top padding to give space for the fixed header */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.navbar a {
    color: white;
    margin-left: 20px;
    position: relative; /* Positioning for the pseudo-element */
    padding: 5px 0; /* Add padding for spacing */
}

.navbar .logo {
    display: flex;
    align-items: center; /* Align logo image and text vertically */
}

/* Adjusting logo size inside the navbar */
.navbar .logo img {
    height: 70px; /* Adjust the height to fit your design */
    width: auto;  /* Auto width to maintain aspect ratio */
    max-width: 150px; /* Optional: Set a max-width to control large logos */
    margin-right: 10px; /* Reduce the gap between logo and SAKURA text */
}

@media (max-width: 768px) {
    /* For smaller screens, reduce the logo size */
    .navbar .logo img {
        height: 40px;
    }
}

/* Underline effect */
.navibar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Underline thickness */
    background-color: #77A5F8; /* Underline color */
    transform: scaleX(0); /* Start with the underline scaled down */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Show the underline on hover */
.navibar a:hover::after {
    transform: scaleX(1); /* Scale the underline to full width */
}

.navbar .signup-btn {
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%); /* Gradient background for buttons */
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.navbar .signup-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, #7d42b8, #d3a59f); /* Change background on hover */
}

/* Footer Styling */
footer {
    background: linear-gradient(145deg, #D5A3FF, #77A5F8);
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    color: #fff; /* To make the text readable on the gradient */
}

footer p {
    margin: 10px 0;
    color: #333;
    font-size: 14px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #007bff; /* Change color on hover */
}
  

/* Container styling */
#container {
    background-color: rgba(214, 74, 97, 0.941); /* Set container background color */
    margin-top: 40px; /* Space above the container */
    margin-left: 200px; /* Space on the left */
    margin-right: 200px; /* Space on the right */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 30px; /* Add padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-around; /* Space children evenly */
}

#container h2 {
    align-self: flex-end; /* Align header to the end of the flex container */
}

/***********products***********/

/* Individual product styling */
.product {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out product elements */
    padding: 15px 15px 15px; /* Add padding */
}

/* Item container styling */
.item {
    display: flex; /* Use flexbox for layout */
    width: 200px; /* Set width for item */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

/* Button styling within item */
.item > button {
    width: 34px; /* Set button width */
    height: 34px; /* Set button height */
    margin: 5px; /* Space around button */
    border: 0pt transparent; /* No border */
    border-radius: 20%; /* Rounded corners */
    background-color: #efefef; /* Set background color */
    font-size: 18px; /* Set font size */
    color: #0e1e20; /* Set text color */
    outline: 0; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
}

.item > button:hover {
    background-color: #20120e; /* Change background on hover */
    color: #efefef; /* Change text color on hover */
}

/* Quantity input styling within item */
.item > .qte {
    height: 25px; /* Set height for quantity input */
    max-width: 75px; /* Set max width */
    border: 0pt transparent; /* No border */
    border-radius: 25px; /* Rounded corners */
    background-color: #efefef; /* Set background color */
    font-size: 18px; /* Set font size */
    color: #0e1e20; /* Set text color */
    outline: 0; /* Remove outline */
    padding: 5px; /* Add padding */
    margin: 5px; /* Space around quantity input */
    text-align: center; /* Center text */
}

/****************** Text container for Packages ******************/
/* Text container styling */
.text-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 400px; /* Set width for text container */
    height: 79px; /* Set height for text container */
    background-color: #dacbcb; /* Set background color */
    border-radius: 10px; /* Rounded corners */
}

/* Text styling within text container */
.text {
    font-size: 20px; /* Set font size */
    color: #0e1e20; /* Set text color */
    font-weight: bold; /* Make text bold */
}

/****************** Icons ******************/
/* Icon container styling */
.icons {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack icons vertically */
    justify-content: center; /* Center icons vertically */
    width: 50px; /* Set width for icon container */
    margin-right: -100px; /* Adjust spacing to the right */
}

/* Icon styling */
.fa-heart, .fa-times-circle {
    color: #0e1e20; /* Set icon color */
}

/* Hover effects for icons */
.fa-heart:hover {
    color: rgb(233, 241, 240); /* Change color on hover */
    cursor: pointer; /* Change cursor on hover */
}

.fa-times-circle:hover {
    color: rgb(233, 241, 240); /* Change color on hover */
    cursor: pointer; /* Change cursor on hover */
}
